body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
  color: black;
  font-style: normal;
  text-decoration: none;
}

/************************************************** Nav *******************************/
nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 20;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 35px 50px;
  flex-wrap: nowrap;

}

.nav-menu {
  display: flex;
  flex-direction: row;
}

.nav-menu li {
  margin: 5px 35px; 
  font-weight: 700;
  color: rgb(81, 81, 81);
  font-size: 14px;
}

.nav-menu li:hover{
  color: black;
  cursor: pointer;
}

.selected {
  color : black;
}

.nav-title {
  font-size: 20px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  display: flex;
}

.nav-title a {
  font-size: 25px;
  font-weight: 800;
  color: black;
  font-style: normal;
  text-decoration: none;
}

.nav-title:hover {
  cursor: pointer;
  color: black;

}

.nav-contact {
  align-items: center;
  justify-content: center;
  display: flex;
  border: 1.8px blue solid;
  padding: 1px 20px;
  border-radius: 23px;
  font-weight: 500;
}

.nav-contact:hover {
  background-color: rgb(63, 63, 255);
  color: white;
  cursor: pointer;
  border: 1.8px white solid;
}

.nav-drawer {
  display: none;
}

.side-menu {
  display: none;
}

  
/*************************************************** Cover photo *********************/

.cover{
  width: 100%;
  background-image: url("./images/portfolio1.jpg");
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
  height: 510px;
  z-index: -1;
  padding-top: 70px;
}

.cover-txt {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 28px;
  margin: 40px 30px;
  padding: 5px 50px;
}

.cover-name {
  color: rgb(63, 63, 255);
  margin-left: 10px;
}

/************************************************** contact ***************************/
.contact {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px;
  background-color: white;
}

.contact-list {
  padding-left: 0;
  padding-bottom: 0;
  margin: 20px ;
}

.about-me p {
  margin-top: 30px;
  width: 75vw;
}

.social-icon {
  width: 40px;
  display: inline;
  margin: 5px;
}

.contact-list li{
  display: inline;
  margin: 10px 30px;
}

.contact-list li:hover {
  cursor: pointer;
}

@keyframes fadein{
  from {opacity: 0;}
  to {opacity: 1;}
}

.animate-in {
  animation: fadein 1s;
}

.hidden {
  display: none;
}

.social-caption {
  margin-top: 10px;
}

/***************************************** skills ********************************/

.skills {
  width: 100%;
  background-image:  url("images/cover-grad.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 300px;
  display: flex;
  align-items: center;
  padding: 35px;
  color: white;
  font-size: 23px;
  font-weight: 600;
  justify-content: center;
  text-align: center;
}

.skill-set {
 
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
}

.skill-item {
  margin: 15px 50px;
  
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.show{
  display: flex;
}

.skill-item:hover {
  cursor: pointer;
}

.skill-item h5{
  font-size: 24px;
  margin-top: 15px;
  color: white;
  font-weight: 600;
}

.skill-detail:hover {
  cursor: pointer;
}

/********************************************* Interests ************************/
.intersts {
  display: flex;
  flex-direction: row;
}

.interest-list {
  display: flex;
  flex-direction: row;
}

.interest-item {
  display: flex;
  flex-direction: row;
  padding: 15px;
  -webkit-box-shadow: -1px 1px 12px -3px rgba(0,0,0,0.41);
  -moz-box-shadow: -1px 1px 12px -3px rgba(0,0,0,0.41);
  box-shadow: -1px 1px 12px -3px rgba(0,0,0,0.41);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.interest-item h4 {
  margin-right: 15px;
}

/********************************************* footer ****************************/
footer {
  background-color: rgb(53, 53, 53);
  width: 100%;
  color: white;
}

.my-footer {
  padding: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}










/********************************************* Mobile ****************************/
@media (max-width: 600px) {

  .nav {
    padding: 20px 5px;
  }
  .nav-menu {
    display: none;
  }

  .nav-contact {
    display: none;
  }

  .nav-title {
    font-size: 25px;
    font-weight: 800;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  /************************************* Nav drawer *************************/

  .nav {
    justify-content: space-around;
    align-items: center;
  }

  .nav-drawer {
    display: inline;
  }

  .nav-drawer img {
    width: 30px;
  }

  .nav-drawer img:hover {
    cursor: pointer;
  }

  .side-menu {
    display: flex;
    position: fixed;
    flex-direction: column;
    background-color: white;
    height: 100vh;
    padding: 10px;
    width: 200px;
    align-items: center;
    justify-content: center;
    z-index: 21;
    font-size: 18px;
    font-weight: 600;
    transform: translateX(-220px);
    box-shadow: -3px 3px 23px -3px rgba(0,0,0,0.52);
    -webkit-box-shadow: -3px 3px 23px -3px rgba(0,0,0,0.52);
    -moz-box-shadow: -3px 3px 23px -3px rgba(0,0,0,0.52); 
    transition: transform 0.5s;
  }

  .side-menu li {
    margin: 15px 5px;
    cursor: pointer;
    padding: 8px 16px;
  }

  .side-li:hover {
    background-color: black;
    color: white;
    border-radius: 5px;
    justify-content: center;
    margin: 15px auto;
    
  }

  .side-menu.show {
    transform: translateX(0);
    transition: transform 0.5s;
  }

  .nav-drawer-close-btn {
    cursor: pointer;
  }

  /************************************* cover*************************/

  .cover{
    width: 100%;
    background-image: url("./images/portfolio1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 410px;
    z-index: -1;
    padding-top: 90px;
  }

  .cover-txt {
    font-weight: 600;
    font-size: 20px;
    display: flex;
    margin: 2px 30px;
  }

  


  /*************************** social icons **************/
  .social-icon {
    width: 38px;
  }
  .contact-list li{
    margin: 5px;
  }

  .contact-list {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    padding-left: 0;
  }

  .contact {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 20px;
    flex-wrap: wrap;
    flex-direction: row;
  }

  footer {
    top: 80px;
  }

  .skills {
    height: 650px;
    text-align: justify;
    justify-content: space-around;
    align-items: center;
  }

  .skill-detail {
    margin: auto;
  }

}